#about-area{
    background-color: var(--base-color-second);
}

.main-title{
    color: var(--text-color);
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

#about-area .img-fluid{
    height: 350px;
}

.main-title::after{
    content: "";
    border-top: 2px solid var(--base-color-efect);
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title{
    font-size: 17px;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: bold;
}

#sobre-mim p{
    font-size: 16px;
}